html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* - - - - - - - - - - - - - - -  */

body {
  background-color: #f1d4ad;
  margin: 0;
}

h1 {
  padding-top: 3vh;
  background-color: #0074D9;
  font-size: 2em;
  color: white;
  text-align: center;
  height: 9vh;
}

#logo {
  text-align: center;
  margin: auto;
  position: relative;
  height: 13vh;
  left: 75vw;
  bottom: 8vh;
}
#plus {
  display: block;
  height: 4em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;

  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}


.addButton {
  position: relative;
  background-color: #61e061d9;
  width: 6em;
  height: 6em;
  border-radius: 4em;
  left: 86vw;
  bottom: 18vh;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);
  -webkit-transition: -webkit-transform .8s ease-in-out;
  /* -webkit-transition: background-color .8s ease-in-out;
          transition: background-color */
          transition:         transform .8s ease-in-out;
}

.addButton:hover {
  background-color: #61e061;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/* - - - - - - - - - - - - - - -  */
.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;

}

.modal-content {
	border-radius: 7px;
	width: 23em;
	height: 23em;
	background-color: #0074D9;
}

h2 {
  padding-top: 4vh;
  padding-bottom: 4vh;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 4vh;
}

p {
	text-align: center;
    color: #83cbf5;
    padding-bottom: 1vh;
    padding-top: 0vh;
    position: relative;
    bottom: 2em;
}
/* - - - - - - - - - - - - - - -  */




.form-container {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end:3;
}
.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #00ffee;

}

.bookCard {
  height: 35vh;
  width: 33vh;
  border: 1px solid orange;
  margin: 2vh;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(9,1fr);
}

span {
  text-align: center;
}

.titleContainer {
  border: 1px solid orange;
  margin: auto;
  grid-row-start: 1;
  grid-row-end: 3;
}

.authorContainer {
  border: 1px solid orange;
  margin: auto;
  grid-row-start: 3;
  grid-row-end: 5;
}

.pagesContainer {
  border: 1px solid orange;
  margin: auto;
  grid-row-start: 5;
  grid-row-end: 7;
}

.readContainer {
  border: 1px solid orange;
  margin: auto;
  grid-row-start: 7;
  grid-row-end: 9;
}

#bookForm {
  border: 1px solid green;
  text-align: center;
  /* width: 12em; */
}

.book {
  border: 1px solid black;
  margin-bottom: 2vh;
}
